@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-weight: bold;
}

body{
    background-color: #fafafa;
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.magic{
    background-color: #f9ca24;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 2px;
    box-shadow: 3px 3px #f9ca2480;
    z-index: 100;
}

.magic:focus{
    outline: none;
}

.magic:active{
    box-shadow: none;
    transform: translateY(2px);
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    position: relative;
    transition: 0.4s ease;
}
 
.boxes .big{
    gap: 20px;
    width: 600px;
    height: 600px;
}

.boxes .big .box{
    transform: rotateZ('360deg');
}

.box {
    background-color: #f7f7f7; /* Soft background color */
    background-image: linear-gradient(45deg, #bea2a2 25%, transparent 25%, transparent 75%, #e9e9e9 75%); /* Diagonal stripes pattern */
    background-size: 20px 20px; /* Size of the pattern */
    position: relative;
    height: 125px;
    width: 125px;
    border: 2px solid yellow;
    transition: transform 0.4s ease, box-shadow 0.4s ease; /* Transition for animation and box-shadow */
}

/* Hover animation */
.box:hover {
    transform: scale(1.1); /* Enlarge on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Subtle shadow on hover */
}


.box::after{
    content: "";
    background-color: #f6e58d;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before{
    content: '';
    background-color: #f9ca24;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}